input[type="radio"], input[type="checkbox"] {
  line-height: normal;
  margin: 4px;
}

label{
	font-weight: 700;
}
.btn-success {
  background-color: #003c00;
  border-color: #2d2d2d;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;

}
.btn-danger {
  background-color: #B72924;
  border-color: #B72924;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;

}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #ddd;
  line-height: 1.53846;
  padding: 12px 10px;
  vertical-align: top;
  text-align: center;
}

/*Datpiker */
.year{
  background: #eee;
}

.form-group{
  position: relative;

}
small {
  position: absolute;
}
input[type="submit"] {
  background: #e8e8e8 none repeat scroll 0 0;
  border: 1px inset #ddd;
  color: #6b6b6b;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 15px;
}
input[type="submit"].marg-top{
  margin-top: 20px;
}
option{font-size: 15px; padding: 3px;}
.bg-slate-600 {
  background-color: #e1e1e1;
  border-color: #546e7a;
  color: #000;
  border-radius: 5px;
}
.navbar-brand > img {
  height: 40px;
  margin-top: 0px;
}
.navbar-brand {

  padding: 2px;
}

/*********************************************/
.tile_count .tile_stats_count p {
  font-size: 15px;
  font-style: 700;
}
.tile_count .tile_stats_count::before {
  border-left: 2px solid #adb2b5;
  content: "";
  height: 65px;
  left: 0;
  margin-top: 10px;
  position: absolute;
}

.tile_count .tile_stats_count .count {
  color: #004d00;
  font-size: 30px;
  font-weight: 600;
  line-height: 47px;
  text-align: center;
}
.count_top.text-succes {
  color: #004d00;
  font-weight: 700;
  text-align: center;
}.count_bottom {
  color: #004d00;
  text-align: center;
}

.usersList {
  text-align: center;
  color: #004100;
  border-bottom: 1px solid#eee;
}
.userImage {
  float: left;
  margin-right: 10px;
}
.userImage img {
  border-radius: 100%;
  height: 55px;
  width: 55px;
}
.userTitle {
  float: left;
}.userTitle p {
  margin-bottom: 2px;
}
/*********************************************/
.table.bg-slate-600 a {
  font-size: 15px;
  padding: 5px;
}